/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: monospace;
}

.main {
    height: 100vh;
    width: auto;
    padding: 0 10%;
    background-color: #338354;
}

.intro-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  opacity: 0;
  animation: fadeInAnimation ease-in .2s forwards;
}

.intro  {
    color: #fff;
    width: 60%;
}

.intro h1 {
    font-size: 50px;
}

.intro p {
    font-size: 15px;
    line-height: 20px;
}

.introImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.introImage img {
    width: 450px;
    height: 450px;
}

/* ------ Statistic Section -------- */
.stastistic-section {
  height: auto;
  width: 100%;
  padding: 4% 10%;
  background-color: rgb(255, 255, 255);
}

.statistic-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000;
  box-shadow: -8px 8px #000;
}

.container-A {
  flex: 1;
  padding: 20px;
}

.container-B {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  max-width: 600px;
}

.info h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

.bx-content {
  text-align: center;
}

.b {
  width: 150px;
  padding: 20px 0px 20px 0px;
}

.b p {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.one {
  background-color: #4CAF50;
  color: #ffffff;
  width: auto;
  padding: 10px;
  border-radius: 5px;
}

.bxColor {
  font-size: 25px;
  color: #ffffff;
}

.bgImage {
  position: relative;
  width: 500px;
  height: 500px;
}

.bgImage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .statistic-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .container-A,
  .container-B {
    padding: 20px;
  }
}


/* -------- Donation Section ---------- */
  
  .DonationSection {
    height: 80vh;
    width: 100%;
    background-color: #9fffb7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .ColOne {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #287b4b;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .containerOne h1 {
    font-size: 25px;
  }

  .containerOne p {
    font-size: 15px;
  }

  .ColTwo {
    margin-top: 10px;
    height: 300px;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: -4px 4px #000;
  }

  .container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Row {
    padding: 10px;
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 0px;
  }

  input, select {
    height: 30px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
  }

  textarea {
    border: 1px solid #000;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    resize: none;
  }

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* ------- Buttons & Links ---------- */
  .Btn {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    background-color: #3a10e5;
    color: #fff;
    transition: .2s;
  }
  
  .Btn:hover {
    background-color: #5a37e7;
  }
  
  /* ---- Animation ---- */
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }

  /* ---- Feedback Section ----- */
  .columnInfo {
    background-color: #fff0e5;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.columnWrapper {
    text-align: center;
    padding: 10px;
    background-color: #fffae5;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 1400px;
}

.columnWrapper h1 {
    font-size: 30px;
}

.Btn-Dark {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 45px;
  color: #fffae5;
  background-color: #10162f;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .2s;
}

.Btn-Dark:hover {
  background-color: #3c3f52;
  border: 1px solid transparent;
}

.Btn-Dark #link {
  color: #fff;
}