/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: monospace;
}

.main {
    height: 100vh;
    width: auto;
    padding: 0 10%;
    background-color: #338354;
}

.intro-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  opacity: 0;
  animation: fadeInAnimation ease-in .2s forwards;
}

.intro  {
    color: #fff;
    width: 60%;
}

.intro h1 {
    font-size: 50px;
}

.intro p {
    font-size: 15px;
    line-height: 20px;
}

.introImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.introImage img {
    width: 450px;
    height: 450px;
}

/* -------- Donation Section ---------- */
  
  .DonationSection {
    height: 80vh;
    width: 100%;
    background-color: #9fffb7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .ColOne {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #287b4b;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .containerOne h1 {
    font-size: 25px;
  }

  .containerOne p {
    font-size: 15px;
  }

  .ColTwo {
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: -4px 4px #000;
  }

  .box2 {
    margin-bottom: 92px;
  }

  .container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Row {
    padding: 10px;
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 0px;
  }

  input, select, textarea {
    height: 30px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
  }

  textarea {
    height: 100px;
  }

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .RowFile {
    display: flex;
    align-items: center;
  }

  .RowFile label {
    margin-right: 280px;
  }
  
  /* ------- Buttons & Links ---------- */
  .Btn {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    background-color: #3a10e5;
    color: #fff;
    transition: .2s;
  }
  
  .Btn:hover {
    background-color: #5a37e7;
  }
  
  /* ---- Animation ---- */
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }

  /* ---- Feedback Section ----- */
  .columnInfo {
    background-color: #fff0e5;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.columnWrapper {
    text-align: center;
    padding: 10px;
    background-color: #fffae5;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 1400px;
}

.columnWrapper h1 {
    font-size: 30px;
}

.Btn-Dark {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 45px;
  color: #fffae5;
  background-color: #10162f;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .2s;
}

.Btn-Dark:hover {
  background-color: #3c3f52;
  border: 1px solid transparent;
}

.Btn-Dark #link {
  color: #fff;
}