.main {
    height: 100vh;
    width: auto;
    padding: 0 10%;
    background-color: #304059;
}

.intro  {
    color: #fff;
    width: 60%;
}

.intro h1 {
    font-size: 50px;
}

#introTitle {
    color: #2639ed;
}

.intro p {
    font-size: 15px;
    line-height: 20px;
}

.BtnStart {
    margin-top: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 160px;
    height: 45px;
    color: #fff;
    background-color: #2639ed;
    box-shadow: -4px 4px #000;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .2s;
}

.BtnStart:hover {
    box-shadow: -8px 8px #000;
}

.intro-Content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.introImage img {
    width: 450px;
    height: 450px;
}
/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: monospace;
  }
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .DonationSection {
    height: 100vh;
    width: 100%;
    background-color: #9bdefb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .DonationForm {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .DonationTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .DonationTitle h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  
  .DonationTitle h1 {
    font-size: 30px;
  }
  
  .DonationTitle p {
    font-size: 15px;
  }
  
  .RowInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 10px;
  }
  
  .RowOne,
  .RowTwo,
  .RowThree,
  .RowFour,
  .RowFive,
  .RowSix,
  .RowSeven,
  .Error {
    width: 100%;
    max-width: 500px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
  }
  
  input, select, textarea {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    padding: 5px;
  }
  
  textarea {
    height: auto;
  }
  
  .RowFour,
  .RowFive,
  .RowSix,
  .RowSeven {
    display: flex;
    flex-direction: column;
  }
  
  .RowSeven {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px 0px;
  }
  
  /* ----- Error Text -------- */
  .Error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: red;
    font-size: 1em;
  }
  
  /* ------- Buttons & Links ---------- */
  .Btn {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 32px;
    background-color: #3a10e5;
    color: #fff;
    margin-bottom: 5px;
    transition: .2s;
    width: 100%;
  }
  
  .Btn:hover {
    background-color: #5a37e7;
  }
  
  .backBtn {
    color: #fff;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 32px;
    margin-bottom: 5px;
    transition: .2s;
    width: 100%;
  }
  
  .backBtn:hover {
    background-color: #3c3c3c;
  }
  
  #link {
    font-size: 15px;
    color: #fff;
  }
  
  .RowSeven #link {
    color: #000;
    transition: .2s;
  }
  
  .RowSeven #link:hover {
    color: #3a10e5;
  }
  