* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: monospace;
    scroll-behavior: smooth;
}

/* --------- Intro Section ---------- */
.main {
    height: auto; /* Adjust as needed */
    width: auto;
    padding: 0 10%;
    background-color: #028391;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro  {
    color: #030303;
    width: 100%;
    opacity: 0;
    animation: fadeInAnimation .2s ease-in forwards;
    text-align: center;
}

.intro h1 {
    font-size: 50px;
}

#introTitle {
    color: #2639ed;
}

.intro p {
    font-size: 15px;
    line-height: 20px;
}

.intro-Content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.introImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    opacity: 0;
    animation: fadeInAnimation .2s ease-in forwards;
}

.introImage img {
    width: 100%;
    height: auto; /* Adjust image height as needed */
    max-width: 450px; /* Limit image size */
}

/* Animation Section */
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* News Content */
.newsGallery {
    width: 100%;
    background-color: #3652AD;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsArticle {
    width: 80%;
    background-color: #FE7A36; /* orange background */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    display: flex;
    justify-content: space-between;
    border: 2px solid #000000; /* black border */
}

.newsImage {
    width: 40%;
    background-color: #ffffff; /* White background */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure image stays within borders */
}

.newsImage img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners */
}

.newsContent {
    width: 60%;
    background-color: #ffffff; /* White background */
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
}

.newsContent h3 {
    font-size: 20px;
    color: #030303;
}

.newsContent p {
    font-size: 16px;
    color: #030303;
    line-height: 1.6;
}
