* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: monospace;
    scroll-behavior: smooth;
}

/* --------- Intro Section ---------- */
.main {
    height: 100vh;
    width: auto;
    padding: 0 10%;
    background-color: #fff0e5;
}

.intro  {
    color: #030303;
    width: 100%;
    opacity: 0;
    animation: fadeInAnimation .2s ease-in forwards;
}

.intro h1 {
    font-size: 50px;
}

#introTitle {
    color: #2639ed;
}

.intro p {
    font-size: 15px;
    line-height: 20px;
}

.intro-Content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    opacity: 0;
    animation: fadeInAnimation .2s ease-in forwards;
}

.introImage img {
    width: 450px;
    height: 450px;
}

/* Animation Section */
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}