* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.main {
    height: 50vh;
    width: auto;
    padding: 0 10%;
    background-color: #fff0e5;
}

.IntroSection {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #000000;
}

/*----- Document Section --------- */

.documentSection {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.documentWrapper {
    display: flex;
    justify-content: center;
}

.navWrapper {
    width: 25%;
    padding: 10px;
    height: 100%;
    margin-right: 20px;
}

.nav {
    height: 100%;
    width: auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f5f7fa;
}

.nav ul {
    list-style-type: none;
    padding: 10px;
}

.nav ul li {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 15px;
    height: 50px;
    transition: .2s;
}

.nav ul li:hover {
    box-shadow: -4px 4px #000;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
}

.Document {
    padding: 10px;
    width: 50%;
    margin-left: 20px;
}

.title #titleOne {
    margin-bottom: 0px;
    margin-top: 0px;
}

.DocumentWrapper {
    width: 100%;
    padding: 10px;
    background-color: grey;
}

.DocumentWrapper p {
    font-size: 14px;
    line-height: 20px;
}

.title {
    font-size: 15px;
    margin-bottom: 15px;
}

.title #titleTwo {
    font-size: 15px;
    margin-top: 15px;
}

.DocumentWrapper span {
    font-weight: bold;
}

.title #titleThree {
    font-size: 25px;
    margin-top: 15px;
}